apiVersion: v1
kind: Service
metadata:
  name: openldap
  namespace: {{ ldap_namespace }}
spec:
  type: NodePort
  selector:
    app: openldap
  ports:
    - name: ldap
      port: 389
      targetPort: 389
      nodePort: {{ ldap_nodeport }}
    - name: ldaps
      port: 636
      targetPort: 636
      nodePort: {{ ldaps_nodeport }}
